.css-levciy-MuiTablePagination-displayedRows {
  color: white;
}
.css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar
  .MuiTablePagination-actions {
  color: white;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
  color: grey;
}